.App {
  text-align: center;
  height: 100vh;
  animation: fadeInAnimation ease 5s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

.heading-primary {
  color: lightseagreen;
  font-weight: 300;
} 

.heading-sub, .btn-layout {
  color: lightseagreen;
  font-weight: 300;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 80px;
  border: none;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-shuffle {
  display: block;
  margin: 1rem auto;
  color: white;
  background-color: orangered;
  width: 180px;
  text-transform: uppercase;
}

.btn-layout {
  margin: 0 .5rem;
  background-color: transparent;
}

.active {
  background-color: whitesmoke;
  color: lightseagreen;
}

.btn-layout, .heading-sub {
  display: inline-block;
}

/* animation */
@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
}
 